/* Style for body */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section, footer{
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

/* Navbar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img{
    width: 50px;
    height: 50px;
}

/* Menu styling */
.menu a{
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover{
    color: #ddd;
}


